@model DigitalTask
@inject TaskService TaskService
@{
    var userId = User.GetId();
    var isTaskOwner = TaskService.IsDigitalTaskOwner( Model.Id, userId );
    var isTaskExecutor = TaskService.IsDigitalTaskExecutor( Model.Id, userId );
    var hasExecutor = TaskService.HasDigitalTaskExecutor( Model.Id );
}
<div class="d-flex justify-content-center">
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <h4 class="card-header">@Model.Title</h4>
            <div class="card-body">
                <div class="col-md-12 row">
                    <div class="col-md-4"><b>Начать</b></div>
                    <div class="col-md-8">@(Model.StartDate.HasValue ? Model.StartDate.Value.ConvertToString() : "Дата начала отсутствует")</div>
                </div>
                <br />
                <div class="col-md-12 row">
                    <div class="col-md-4"><b>Завершить</b></div>
                    <div class="col-md-8">@(Model.EndDate.HasValue ? Model.EndDate.Value.ConvertToString() : "Дата окончания отсутствует")</div>
                </div>
                <br />
                <div class="col-md-12 row">
                    <div class="col-md-4"><b>Место указания услуги</b></div>
                    <div class="col-md-8">@Model.TaskFormat.GetDisplayName()</div>
                </div>
                <br />
                <div class="col-md-12 row">
                    <div class="col-md-4"><b>Описание задания</b></div>
                    <div class="col-md-8">@(String.IsNullOrEmpty( Model.Description ) ? "Описание отсутствует" : Model.Description)</div>
                </div>
                <br />
                @if( isTaskOwner && hasExecutor )
                {
                    <div class="col-md-12 row">
                        <div class="col-md-4"><b>Исполнитель</b></div>
                        <div class="col-md-8">
                            <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.Executor.Id">
                                <u>@Model.Executor.GetShortName()</u>
                            </a>
                        </div>
                    </div>
                    <br />
                }
                <div class="form-group text-center">
                    @switch( TaskService.GetDigitalTaskState( Model.Id ) )
                    {
                        case DigitalTaskState.Created:
                            if( !isTaskOwner )
                            {
                                <a asp-controller="Task" asp-action="OfferHelp" asp-route-taskid="@Model.Id"
                                   class="btn btn-outline-success col-md-6 col-sm-4">
                                    Предложить свои услуги
                                </a>
                            }
                            break;
                        case DigitalTaskState.WaitingOwnerConfirmation:
                            if( isTaskOwner )
                            {
                                <div class="col-md-12 row">
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="ConfirmOffer" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-success col-md-12 col-sm-12">
                                            Принять заявку
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="CancelTask" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-danger col-md-12 col-sm-12">
                                            Отклонить заявку
                                        </a>
                                    </div>
                                </div>
                            }
                            if( isTaskExecutor )
                            {
                                <div class="text-center">
                                    <a asp-controller="Task" asp-action="CancelTask" asp-route-taskid="@Model.Id"
                                       class="btn btn-outline-danger col-md-6 col-sm-4">
                                        Отменить заявку
                                    </a>
                                </div>
                            }
                            break;
                        case DigitalTaskState.Confirmed:
                            if( isTaskOwner )
                            {
                                <div class="col-md-12 row">
                                    <div class="col-md-6 col-sm-2">
                                        <button class="btn btn-outline-info col-md-12 col-sm-12 disabled">В процессе выполнения</button>
                                    </div>
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="CancelTask" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-danger col-md-12 col-sm-12">
                                            Отклонить заявку
                                        </a>
                                    </div>
                                </div>
                            }
                            if( isTaskExecutor )
                            {
                                <div class="col-md-12 row">
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="ConfirmComplete" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-success col-md-12 col-sm-12">
                                            Подтвердить выполнение
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="CancelTask" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-danger col-md-12 col-sm-12">
                                            Отменить заявку
                                        </a>
                                    </div>
                                </div>
                            }
                            break;
                        case DigitalTaskState.Completed:
                            if( isTaskOwner )
                            {
                                <div class="col-md-12 row">
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="CloseTask" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-success col-md-12 col-sm-12">
                                            Подтвердить выполнение
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="CancelTask" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-danger col-md-12 col-sm-12">
                                            Отклонить заявку
                                        </a>
                                    </div>
                                </div>
                            }
                            if( isTaskExecutor )
                            {
                                <div class="col-md-12 row">
                                    <div class="col-md-6 col-sm-2">
                                        <button class="btn btn-outline-warning col-md-12 col-sm-12 disabled">Задание проверяется</button>
                                    </div>
                                    <div class="col-md-6 col-sm-2">
                                        <a asp-controller="Task" asp-action="CancelTask" asp-route-taskid="@Model.Id"
                                           class="btn btn-outline-danger col-md-12 col-sm-12">
                                            Отменить заявку
                                        </a>
                                    </div>
                                </div>
                            }
                            break;
                        case DigitalTaskState.Closed:
                            <button class="btn btn-outline-secondary col-md-6 col-sm-4 disabled">Задание завершено</button>
                            break;
                    }
                </div>
            </div>
            <div class="card-footer">
                Заказчик:
                <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.Owner.Id">
                    <u>@Model.Owner.GetShortName()</u>
                </a>
            </div>
        </div>
    </div>
</div>
