@model TaskViewModel

<div class="col-md-8 offset-2">
    <div class="card">
        <div class="card-body">
            <div class="btn-group btn-group-toggle col-md-8 offset-2" data-toggle="buttons">
                <label class="btn btn-outline-primary col-md-4 @(Model.SelectorMode == TaskSelectorMode.All ? "active" : "")">
                    <input asp-for="SelectorMode" type="radio" value="@TaskSelectorMode.All" id="task-format" />
                    @TaskSelectorMode.All.GetDisplayName()
                </label>
                <label class="btn btn-outline-primary col-md-4 @(Model.SelectorMode == TaskSelectorMode.Owner ? "active" : "")">
                    <input asp-for="SelectorMode" type="radio" value="@TaskSelectorMode.Owner" id="task-format" />
                    @TaskSelectorMode.Owner.GetDisplayName()
                </label>
                <label class="btn btn-outline-primary col-md-4 @(Model.SelectorMode == TaskSelectorMode.Executor ? "active" : "")">
                    <input asp-for="SelectorMode" type="radio" value="@TaskSelectorMode.Executor" id="task-format" />
                    @TaskSelectorMode.Executor.GetDisplayName()
                </label>
            </div>

            <br />

@*             @foreach( var task in Model.Tasks ) *@
@*             { *@
@*                 <partial name="_TaskCard" model="@task" /> *@
@*             } *@
        </div>
    </div>
</div>

