@model TaskViewModel
@inject CategoryService CategoryService

<div class="d-flex justify-content-center">
    <div class="form-group col-md-8 col-sm-4">
        <form asp-controller="Task" asp-action="MyTasks" method="get">
            <label class="text-muted">Категория задачи</label>
            <select asp-for="CategoryId" asp-items="CategoryService.GetCategoriesList()" class="form-control">
                <option value="" selected disabled hidden>Выберите категорию задачи</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
            <br />
            <div class="d-flex justify-content-center">
                <div class="btn-group btn-group-toggle" style="width: 100%;" data-toggle="buttons">
                    <label class="btn btn-outline-primary col-md-4 col-sm-4 @(Model.SelectorMode == TaskSelectorMode.All ? "active" : "")">
                        <input asp-for="SelectorMode" type="radio" onchange="this.form.submit()" value="@TaskSelectorMode.All" />
                        @TaskSelectorMode.All.GetDisplayName()
                    </label>
                    <label class="btn btn-outline-primary col-md-4 col-sm-4 @(Model.SelectorMode == TaskSelectorMode.Owner ? "active" : "")">
                        <input asp-for="SelectorMode" type="radio" onchange="this.form.submit()" value="@TaskSelectorMode.Owner" />
                        @TaskSelectorMode.Owner.GetDisplayName()
                    </label>
                    <label class="btn btn-outline-primary col-md-4 col-sm-4 @(Model.SelectorMode == TaskSelectorMode.Executor ? "active" : "")">
                        <input asp-for="SelectorMode" type="radio" onchange="this.form.submit()" value="@TaskSelectorMode.Executor" />
                        @TaskSelectorMode.Executor.GetDisplayName()
                    </label>
                </div>
            </div>
            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-info col-md-4 col-sm-4">Поиск</button>
            </div>
        </form>
    </div>
</div>
<br />

<br />
@if( Model.Tasks.Count == 0 )
{
    <h1 class="display-4 text-center">На данный момент список заданий пуст</h1>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="col-md-8 col-sm-12">
            <br />
            @foreach( var task in Model.Tasks )
            {
                <partial name="_TaskCard" model="@task" />
            }
        </div>
    </div>
}